---
import Layout from "../layouts/Layout.astro";
import Projects from "../components/Projects.astro";
---

<Layout title="Todos los proyectos - Alfonso Adiego Luque" description="Explora la colección completa de proyectos desarrollados por Alfonso Adiego Luque, desde aplicaciones móviles hasta sitios web, demostrando su pasión por la innovación y la creatividad en cada línea de código. Descubre cómo Alfonso aplica sus conocimientos para crear soluciones únicas y colaborativas que destacan en el mundo del desarrollo." image="/assets/projects-preview.png">
  <main class="pt-32 pb-24 max-w-6xl mx-auto px-6 overflow-hidden">
    
    <!-- Botón de volver -->
    <a href="/#welcome" class="group inline-flex items-center gap-2 text-text-muted hover:text-cyan mb-10 transition-all duration-300">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 transition-transform group-hover:-translate-x-2" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5"><path d="M19 12H5m7-7-7 7 7 7"/></svg>
        <span class="text-sm font-bold uppercase tracking-widest">Volver al inicio</span>
    </a>

    <header class="mb-8">
        <h1 class="text-5xl md:text-7xl font-black text-text-muted mb-2 tracking-tighter transition-colors duration-500 leading-tight">
            Proyectos <br/> <span class="animate-gradient-text">Completos</span>
        </h1>
    </header>

    <Projects isFull={true} />
    
  </main>
</Layout>