---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCE = [
  {
    date: "Enero 2026 - Actualmente",
    title: "FullStack Developer (Prácticas)",
    company: "Taller Empresarial 2.0",
    description: "Divulgo sobre programación y desarrollo web en diferentes plataformas. Galardonado como mejor creador de contenido de habla no-inglesa en 2022 y mejor comunidad en 2023 por GitHub.",
    link: "https://twitch.tv/midudev",
  },
  {
    date: "Enero 2025 - Marzo 2025",
    title: "BackEnd Developer (Prácticas)",
    company: "Taller Empresarial 2.0",
    description: "Responsable de la plataforma, componentes y utilidades para la creación y desarrollo de aplicaciones web. Mejora de un 30% en la entrega de software. Implantación de medidas de integración continua y despliegue con A/B testing en más de 15 equipos.",
  },
]
---

<section class="max-w-6xl mx-auto px-4 py-20">
  <h2 class="text-3xl font-black mb-12 flex items-center gap-4 text-white">
    <svg class="w-8 h-8 text-cyan" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 13.255A23.931 23.931 0 0112 15c-3.183 0-6.22-.62-9-1.745M16 6V4a2 2 0 00-2-2h-4a2 2 0 00-2 2v2m4 6h.01M5 20h14a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"></path>
    </svg>
    Experiencia Laboral
  </h2>

  <ol class="relative">
    {
      EXPERIENCE.map((item) => (
        <li>
          <ExperienceItem {...item} />
        </li>
      ))
    }
  </ol>
</section>