---
import ThemeToggle from './ThemeToggle.astro';
---

<nav class="fixed top-0 w-full flex justify-end p-6">
    <ThemeToggle />
  </nav>

  <main class="flex flex-col items-center justify-center min-h-screen text-center px-4">
    <span class="text-cian font-bold tracking-[0.4em] text-xs mb-4 uppercase">
      &lt; Fullstack Developer /&gt;
    </span>
    
    <h1 class="text-5xl md:text-8xl font-black text-gradient-name tracking-tighter pb-2">
      Alfonso Adiego Luque
    </h1>

    <div class="w-24 h-1 bg-gradient-to-r from-cian to-purpura my-8 rounded-full"></div>

    <p class="text-texto-muted font-medium tracking-[0.2em] text-sm md:text-base uppercase">
      Optimización • Seguridad • Escalabilidad
    </p>
  </main>